/* Normalize*/
*
*::before,
*::after{
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
}

(ul)*/
.list{
    list-style: none;
    padding-left: 0;
    margin:0;
    }

    .link{
        text-decoration: none;
        color: inherit;
    }

    img{
        display: block;
        max-width: 100%;
        height: auto;
    }

    address{
        font-style: normal;
        /*or*/
        font-style: inherit;
            }

                        /* root*/
:root{
--secondary-color:#2196F3;
--color-main:#212121;
--minor-color:#FFFFFF;
--background-color: #E5E5E5;
--item-color:#757575;
--dark-background-color:#2F303A;
--link-color:#757575;
--footer-link-color:rgba(255, 255, 255, 0.6);
--container-preferences-color:rgba(117, 117, 117, 1);
--small-section-title-color:rgba(33, 33, 33, 1)
}

/* header*/


.page-header{
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
    
}

.flex-container-header{ 
display: flex;
justify-content: space-between;
}

.flex-element-header{

}

.menu-link-header {
    list-style: none;
    color: var(--link-color);
    text-decoration: none;
    font-family: inherit;
    font-weight: 500;
    list-style: none;
    height: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 50px;
}

.menu-link-header:not(:last-child) {
    margin-right: 15px;
}

.logo{
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
height: 31px;
padding-top: 24px;
padding-bottom: 25px;
margin-right: 93px;
margin-left: 15px;
}

.logo-blue {
color:var(--secondary-color);
}

.logo-black{
color: var(--color-main) ;
}

.logo-white{
    color:var(--minor-color);
}

.logo:hover {
    color:var(--secondary-color) ;
}

/* body*/

.body{
    font-family: 'Roboto', sans-serif;
    color:var(--color-main);
    background-color:var(--minor-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    
}

/* section-one*/

.section-one{
width: 1600px;
padding-left: 0;
padding-right: 0;
margin-left: auto;
margin-right: auto;
background-color: var(--dark-background-color);
margin: 0 auto;
}

.flex-container-section-one{
    width: 1600px;
display: inline-block;
justify-content: center;

    text-align: center;
   
    margin: 0 auto;
          
}

flex-element-section-one{
    width: 696px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 100px;
      color: var(--minor-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    
}

.container {
    
}

.title{
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height:1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--minor-color);
    margin-top:200px ;
    margin-left: 225px;
    margin-right: 225px;
    padding-left: 35px;
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 10px;
    width: 696px;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    color: var(--minor-color);
    background-color: var(--secondary-color);
    letter-spacing: 0.06em;
    margin-bottom: 210px;
    margin-top: 30px;
    padding-left: 32px;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
}

.button:hover {
    color: var(--minor-color);
    background-color: var(--footer-link-color);
}

.button:focus {
    color: var(--minor-color);
    background-color: var(--secondary-color);
}

/* section-two*/

.section-two-container-preferences {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}

.hidden {
    visibility: hidden;
}

.flex-container-preferences {
    display: flex;
    color: var(--container-preferences-color);
}

.flex-element-preferences {
    
    
}

.menu-first {
    list-style: none;
    display: flex;
}

.small-section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--small-section-title-color);
    margin-bottom: 15px;
    margin-right: 60px;
    display: flex;
}

.small-section-title:last-child {
    margin-right: 0;
}

.item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: var(--item-color);
    padding-right: 30px;
}

/* section-three*/

.section-three-container{
    width: 1200px;
}



.flex-container-activities{
    display: inline-block;
    }

.secondary-title-section-three {
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    width: 376px;
    color: var(--color-main);
    margin-bottom: 50px;
    margin-left: 360px;
    margin-right: 360px;
}

.picture-first {
    margin-right: 30px;
    margin-bottom: 92px;
    display: inline-block;
    text-align: center;
    width: 370px;
    height: 294px;
    
}

/* section-four*/

.container-team{
    display: inline-block;
   }

   .secondary-title {
       font-weight: 700;
       font-style: normal;
       font-size: 36px;
       line-height: 1.16;
       text-align: center;
       letter-spacing: 0.03em;
       color: var(--color-main);
       margin-bottom: 50px;
       margin-left: 360px;
       margin-right: 360px;
   }

.card{
    display: inline-block;
    width: 270px;
    margin-right: 15px;
    padding-left: 0;
    padding-right: 0;
    background: url(4853.jpg);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card:no(:last-child){
margin-right: 0px;
}

.picture {
    margin-right: 27px;
    margin-bottom: 94px;
    display: inline-block;
    text-align: justify;
    width: 270px;
    height: 368px;
    display: inline-block
}

.card-image{
        width: 270px;
        height: 260px;
}

.card-heading-one{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-main);
font-style: normal;
width: 151px;
display: flex;
margin-top: 30px;
margin-left: 60px;
margin-right: 59px;
margin-bottom: 10px;
}

.card-heading-two {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-main);
    font-style: normal;
    width: 151px;
    display: flex;
    margin-top: 30px;
    margin-left: 81px;
    margin-right: 80px;
    margin-bottom: 10px;
}

.card-heading-three {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-main);
    font-style: normal;
    width: 151px;
    display: flex;
    margin-top: 30px;
    margin-left: 97px;
    margin-right: 97px;
    margin-bottom: 10px;
}

.card-heading-four {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-main);
    font-style: normal;
    width: 151px;
    display: flex;
    margin-top: 30px;
    margin-left: 68px;
    margin-right: 68px;
    margin-bottom: 10px;
}

.position-item-one {
    color: var(--container-preferences-color);
    width: 147px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 70px;
        display: inline-block;
}

.position-item-two {
    color: var(--container-preferences-color);
    width: 147px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    margin-left: 62px;
    margin-right: 61px;
    
    display: inline-block;
}

.position-item-three {
    color: var(--container-preferences-color);
    width: 147px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    margin-left: 97px;
    margin-right: 97px;
    
    display: inline-block;
}

.position-item-four {
    color: var(--container-preferences-color);
    width: 147px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    margin-left: 92px;
    margin-right: 91px;
 
    display: inline-block;
}




.menu-link{
    list-style: none;
    color:var(--color-main);
    text-decoration: none;
    font-family: inherit;
    font-weight: 500;
    height: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 50px;
}
.menu-link:not(:last-child){
    margin-right: 0;
}

.menu-link:hover{
        color: var(--secondary-color);
    }

.menu-link-header:hover{
    color:var(--secondary-color);
    }

.current{
    color: var(--secondary-color);
}




.item-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    color:var(--color-main);
}

/*page-two*/

/*container-button*/

.button-second {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    color: var(--color-main);
    background-color: var(--minor-color);
    letter-spacing: 0.06em;
    margin-bottom: 210px;
    margin-top: 30px;
    padding-left: 32px;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
}

.button-second:hover {
    color: var(--minor-color);
    background-color: var(--secondary-color);
}

.button-second:focus {
    color: var(--minor-color);
    background-color: var(--secondary-color);
}
.container-button{
    width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-top:94px ;
    margin-bottom:34px ;
}

.flex-container-button{
display:flex;
    align-items: center;
    justify-content: center;
    
}

.flex-element-button{
    padding-top: 6px;
    padding-left: 22px;
    padding-bottom: 6px;
    padding-right: 22px;
    margin-right: 8px;
}

.flex-element-button:not(last-child){
    margin-right: 0;
}

/*container-projects*/

.container-projects{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.flex-element{
width: 370px;
margin-right: 30px;
margin-bottom: 30px;
        }

.flex-element:nth-last-child(-n+3){
    margin-bottom: 0;
}

.flex-element: nth-child(n3){
margin-right: 0;
    } 

/* footer*/

.footer {
    background-color: var(--dark-background-color);
    width: 1600px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.flex-container-footer{
display: inline-block;
margin-top: 60px;
margin-bottom: 60px;
margin-left: 215px;



    
}

flex-element-footer{
margin-left: 15px;
justify-content: flex-start;
width: 147px;

}

flex-element-footer-logo{

}

.flex-element-footer-address{

}
.flex-element-footer-mail{
    
}

.flex-element-footer-tel{
    
}



.container-address-footer {
        display: inline-block;
        justify-content: flex-start;
        flex-direction: column;
        margin-left: 15;
        
    }




.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    width: 145px;
    margin-top: 60px;
    margin-left: 15px;
}

.address{
    color:var(--minor-color);
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    margin-top: 20px;
    margin-left: 15px;
    }

.menu {
    list-style: none;
    
}

.menu-address{
text-align: left;
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
font-style: normal;
color: var(--minor-color);
width: 231px;
margin-top: 20px;
margin-left: 15px;
text-align: left;
}

.address-link{
    text-decoration: none;
    color:var(--footer-link-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    flex-direction: column;
    margin-left: 200px;
}